.contact__item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
}
p {
    width: 200px;
}
.contact__button {
    width: 80px;
        height: 25px;
        background-color: rgb(96, 214, 235);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover {
            background-color: rgb(60, 65, 158);
            color: white;
        }
}